.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('./background_search2_desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 90vh;
    margin-top: 0;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  
  .SearchBar-fields input {
    width: 21rem;
    margin-right: 3rem;
  }
  
  .SearchBar-fields input:last-child {
    margin-right: 0;
  }
  
  .SearchBar-submit {
    text-align: center;
  }

  
  @media only screen and (max-width: 560px) {
    .SearchBar {
      background-image: url('./background_search2_mobile.jpg');
    }
  
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
    }
  }